# Managed by Ansible
PLATFORM_PROXY_STATE_DIR={{ proxy_state_directory }}
COMPOSE_PROFILES={{ "acme" if proxy_acme_enabled else "" }}
ACME_EMAIL={{ proxy_acme_email }}
ACME_CA_URI={{ proxy_acme_ca_uri }}
