# Managed by Ansible
PLATFORM_OBSERVABILITY_STATE_DIR={{ observability_state_directory }}
OBSERVABILITY_HOST_LABEL={{ observability_host_label }}
OBSERVABILITY_LOKI_PUSH_URL={{ observability_loki_push_url }}
OBSERVABILITY_PROMETHEUS_WRITE_URL={{ observability_prometheus_write_url }}
OBSERVABILITY_LOGS_RETENTION={{ observability_logs_retention }}
OBSERVABILITY_METRICS_RETENTION={{ observability_metrics_retention }}
OBSERVABILITY_LOKI_MEMORY={{ observability_loki_memory }}
OBSERVABILITY_PROMETHEUS_MEMORY={{ observability_prometheus_memory }}
OBSERVABILITY_GRAFANA_MEMORY={{ observability_grafana_memory }}
OBSERVABILITY_ALLOY_MEMORY={{ observability_alloy_memory }}
{% if observability_backend_enabled | bool %}
OBSERVABILITY_GRAFANA_ADMIN_PASSWORD={{ lookup('ansible.builtin.file', observability_grafana_admin_password_source) | trim }}
{% endif %}
